header {
    height: 1%;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}

header h1 {
    font-family: 'Cinzel Decorative';
    font-size: 5vw;
    margin-top: -4vw;
    text-transform: uppercase;
    text-align: right;
}

.logo {
    position: absolute;
    top: 1%;
    width: 10vw;
    height: 8vw;
}

#nav-main {
    position: fixed;
    top: 10vw;
    width: 100%;
    background-color: black;
    height: 5vw;
    z-index: 5;
}

nav a {
    font-size: 1.5vw;
    margin: 1vw;
}


article {
    background-image: url(../images/background.jpg);
    
}

#details {
    font-family: 'Chenla';
    font-size: 16px;
    background-color: azure;
    background-size: cover;
    text-align: justify;
    padding: 3vw;
    margin: 3vw;
    border-radius: 1%;
}

#history h1 {
    font-family: 'Cinzel Decorative';
    font-size: 3vw;
    text-transform: uppercase;
}

#gridUse {
    margin: 4vw;
}

.card-text {
    font-family: 'Chenla';
    font-size: 16px;
}

footer span, footer span a, footer p {
    font-size: 1.3vw;
    color: rgb(127, 129, 131);
}

.fa {
    padding: 1vw;
    font-size: 2vw;
    width: 7%;
    text-align: center;
    text-decoration: none;
    margin: 1vw 3.1vw;
    border-radius: 10%;
}
  
.fa:hover {
      opacity: 0.7;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
  
.fa-google {
    background: #dd4b39;
    color: white;
}
  
.fa-linkedin {
    background: #007bb5;
    color: white;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #fffb00;
    color: white;
}

footer {
    background-color: black;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: chartreuse;
    text-decoration: none;
}

#carousel img {
    max-width: 80%;
    position: relative;
    left: 10%;
    height: 500px;
}

#carousel {
    background-color: black;
    margin: 5%;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }
map {
    padding: 10vw;
}

#address {
    padding: 5vw;
    background-color: black;
    color: white;
    font-family: 'Chelna';
    font-size: 16px;
}

map p {
    font-family: 'Cinzel Decorative';
    font-size: 2vw;
}

footer img {
    width: 1vw;
    height: 1vw;
}